# Konfigurasi Server
PORT=5000
NODE_ENV=development

# Konfigurasi Database MySQL
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=react_360_tour

# Keamanan (Ubah dengan teks acak yang sulit ditebak di production)
JWT_SECRET=antigravity-secret-key-360-tour
